.auth-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.auth-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.auth-form p {
  font-size: 13px;
  text-align: center;
}
.authform_subtitle {
  padding: 0px 0px 15px 0px;
}
.authform_logo {
  width: 75%;
  align-self: center;
  padding-bottom: 0px;
}

.terms-links {
  text-align: center;
  font-size: 13px;
  margin-top: 10px;
  border-bottom: 3px solid #ccc;
  padding-top: 15px;
}
